

<!-- joke list item component -->
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start" id="<%= jokeData.id %>">
	<small><h5 class="mb-2"> <%= jokeData.setup %></h5></small>
	<p class="mb-1"><%= jokeData.punchline %></p>
	<span class="badge badge-info"> <%= jokeData.type %></span>
</a>
